.App {

  display: grid;
  grid-template-rows: repeat( 400px );
  grid-template-columns: 400px 400px 400px;
  grid-gap: 20px

}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.1);
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

section > img {
  width: 400px;
}
